/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width: 576px) {
  .container {
    max-width: 960px;
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToTop {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-header {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("http://localhost/img/breederscup.png") center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

nav {
  color: #fff;
  transition: opacity .2s ease-in;
  background-color: rgba(52, 58, 64, 0.9);
}

nav .navbar-brand {
  color: #fff;
}

nav .btn:nth-child(2) {
  color: #A6ACAF;
  transition-duration: 0s;
}

nav .btn:nth-child(2):hover {
  color: #fff;
}

nav .btn-danger {
  border: 1px solid #fff;
}

nav .btn-danger:hover {
  border: 1px solid #fff;
  background-color: #b33939;
}

@media (max-width: 575px) {
  nav .container {
    padding: 0;
  }
}

.header-content {
  color: #fff;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-content h1 {
  display: inline-block;
  font-size: 3.5rem;
  border-bottom: 1px solid #fff;
  animation: moveToLeft 2s;
}

@media (max-width: 767px) {
  .header-content h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 575px) {
  .header-content h1 {
    font-size: 2rem;
  }
}

.header-content p {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  animation: moveToRight 2s;
}

.header-content p i {
  font-weight: 700;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .header-content p {
    font-size: 1.2rem;
  }
}

@media (max-width: 575px) {
  .header-content p {
    font-size: 1rem;
    margin-top: .5rem;
  }
}

.header-content .btn-danger {
  margin-top: .9rem;
  border: 1px solid #fff;
  animation: animateBtn 1.5s 1.5s;
  animation-fill-mode: backwards;
}

.header-content .btn-danger:hover {
  background-color: #b33939;
}

@media (max-width: 575px) {
  .header-content .btn-danger {
    font-size: 1rem;
    margin-top: 0;
    padding: .375rem .75rem;
  }
}

.cards-section {
  margin-top: -50px;
  padding-bottom: 4rem;
  background: rgba(44, 62, 80, 0.9);
}

.cards-section .card {
  text-align: center;
}

.cards-section .card .card-header {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #c95656;
  color: #fff;
}

@media (max-width: 767px) {
  .cards-section .card .card-header {
    font-size: 1rem;
  }
}

.cards-section .card:nth-child(1) {
  animation: moveToTop 1.5s .2s backwards;
}

.cards-section .card:nth-child(2) {
  animation: moveToTop 1.5s .5s backwards;
}

.cards-section .card:nth-child(3) {
  animation: moveToTop 1.5s .8s backwards;
}

@media (max-width: 767px) {
  .cards-section {
    margin-top: 0;
    padding-top: 2rem;
  }
  .cards-section .card:nth-child(1), .cards-section .card:nth-child(2), .cards-section .card:nth-child(3) {
    animation: none;
  }
}

@media (max-width: 705px) {
  .cards-section .card-deck {
    display: block;
  }
  .cards-section .card-deck .card {
    margin-bottom: 1.5rem;
  }
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #2f3640;
  color: #fff;
}

footer .row {
  margin-bottom: 1rem;
}

footer .row a {
  color: #fff;
}

footer .row a:hover {
  text-decoration: none;
  color: #e6e6e6;
}

@media (max-width: 575px) {
  footer .row a {
    margin-bottom: 1rem;
  }
}

footer p {
  margin: 0;
}

@media (max-width: 991px) {
  footer {
    margin-top: auto;
  }
}
